<div class="app-content">
    <div style="text-align: center; margin-top:5%">
        <span style="background:black; border-radius:5px; padding: 5px;">
            Vielen Dank für deine Buchung über HairRIS!
        </span>
    </div>

    <md-card>
        <md-card-title style="text-align:left">
            
        </md-card-title>
        <md-card-content style="font-size: 26px;">
            <p>Ihre Buchung wurde erfolgreich durchgeführt. <br>Eine Buchungsbestätigung wurde an ihre Email "team@hairris.de" gesendet.</p>
        </md-card-content>
    </md-card>
</div>