<div class="app-content">

    <div style="text-align: center; margin-top:5%">
        <span style="background:black; border-radius:5px; padding: 5px;">
            Wie möchtest du bezahlen?
        </span>
    </div>

    <md-card>

        <md-card-content>
            <div class="container">
                <div class="row">
                    <div class="col nono">
                        <a href="/final">
                            <div class="genderCol" style="text-align:center; color:black;">
                                <img src="assets/register.svg" alt="" style="height:100px">
                                <span style="font-size: 30px; ">Bar bezahlen</span>
                            </div>
                        </a>
                    </div>
                    <div class="col nono">
                        <a href="">
                            <div class="genderCol" style="text-align:center; color:black;">
                                
                                <span style="font-size: 30px; ">Mit <img src="assets/paypal.svg" alt="" style="height:100px"> bezahlen</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </md-card-content>

    </md-card>

</div>