    <div class="container-fluid">
        <!--<div class="row">
            <nav class="col-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>
            </nav>

            <main class="col-10">
            </main>
        </div>-->

        <div class="row">
            <div class="col-2">
                <md-card style="margin-top: 20px">
                    <md-card-content>
                        <span style="font-size: 26px">Filter hinzufügen</span>
                        <button md-fab style="height: 40px;width:40px; font-size:20px; background-color: #333333;">+</button>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>