    <div class="container-fluid">
        <!--<div class="row">
            <nav class="col-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>
            </nav>

            <main class="col-10">
            </main>
        </div>-->

        <div class="row">
            <div class="col-2">
                <md-card style="margin-top: 20px">
                    <md-card-content>
                        <span style="font-size: 26px">Filter hinzufügen</span>
                        <button md-fab style="height: 40px;width:40px; font-size:20px; background-color: #333333;">+</button>
                    </md-card-content>
                </md-card>
            </div>
            
            <div class="col-10">
                <md-card style="margin-top:20px; margin-left:20px;">
                    <md-card-content>
                        <img src="assets/logos/1.png" style="height:100px; display:inline-block">
                            <span class="cardHeader">
                                Marico Coiffeur & Design <br>
                                <img src="assets/stars.png"> <span class="text">(420)</span> <br>
                                <span class="entfernung">
                                    200 m entfernt
                                </span>
                            </span>
                    </md-card-content>

                    <md-card-footer>
                        
                    </md-card-footer>
                </md-card>

                <md-card style="margin-top:20px; margin-left:20px;">
                    <md-card-content>
                        <img src="assets/logos/2.png" style="height:100px;">
                        <span class="cardHeader">Overcut Hairdesign <br>
                            <img src="assets/stars.png"> <span class="text">(42)</span> <br>
                            <span class="entfernung">
                                350 m entfernt
                            </span>
                        </span>
                    </md-card-content>
                </md-card>

                <md-card style="margin-top:20px; margin-left:20px;">
                    <md-card-content>
                        <img src="assets/logos/3.png" style="height:100px;">
                        <span class="cardHeader">Scholz Haare Beauty <br>
                            <img src="assets/stars.png"> <span class="text">(42)</span> <br>
                            <span class="entfernung">
                                450 m entfernt
                            </span>
                        </span>
                    </md-card-content>
                </md-card>

                <md-card style="margin-top:20px; margin-left:20px;">
                    <md-card-content>
                        <img src="assets/logos/4.jpg" style="height:100px;">
                            <span class="cardHeader">Haircut<br>
                            <img src="assets/stars.png"> <span class="text">(42)</span> <br>
                            <span class="entfernung">
                                0,5 km entfernt
                            </span>
                        </span>
                    </md-card-content>
                </md-card>

                <md-card style="margin-top:20px; margin-left:20px;">
                    <md-card-content>
                        <img src="assets/logos/5.jpg" style="height:100px;">
                        <span class="cardHeader">Hairdress <br>
                            <img src="assets/stars.png"> <span class="text">(42)</span> <br>
                            <span class="entfernung">
                                1 km entfernt
                            </span>
                        </span>
                    </md-card-content>
                </md-card>
            </div>

        </div>
    </div>