    <div class="app-content">
    

        <md-card> 

            <md-card-title>
                Bitte Postleitzahl eingeben.
            </md-card-title>
            <md-card-content>
                
                <md-input-container>
                    <input mdInput placeholder="Postleitzahl" value="">
                </md-input-container>
                <a routerLink="/plz" routerLinkActive="active">
                
                    <button md-raised-button> TEST </button>
                 
                </a>

            </md-card-content>

        </md-card>


    </div>