    <div class="app-content">
	<style>
		p {text-align:center;}
		b {margin-left:20px;}
	</style>
    

        <md-card> 

            <md-card-title>
				<p>Bitte Postleitzahl eingeben.</p>
				
            </md-card-title>
            <md-card-content>
               <p> 

                <label for="vname">Vorname:
                    <input id="vname" name="vname">
                </label>
                <a routerLink="/plz" routerLinkActive="active">
					<b>
                    <button md-raised-button> Test </button>
					</b>
                 
                </a>
				</p>

            </md-card-content>

        </md-card>


    </div>