    <div class="app-content">
	<style>
		p {text-align:center;}
		b {margin-left:20px;}
	</style>
    
        <div style="text-align: center; margin-top:5%">
        <span style="background:black; border-radius:5px; padding: 5px;">
            Wähle dein Packet!
        </span>
        </div>
        <md-card> 

            <md-card-content>

                <div class="container">
                    <div class="row">
                        <!--<div class="col-6" style="background:#DED7D5; border-radius:10px; border-right: solid; border-right-color: grey">-->
                                <div class="col-6" >
                                <div class="genderCol">
                                    <div class="row">
                                        <div class="col">
                                            <img class="genderSymbol" src="assets/maleLachs.png">
                                        </div>
                                    </div>
                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Kurzhaar</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Langhaar</button>
                                        </div>
                                    </div>
                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Bart</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Whatever</button>
                                        </div>
                                    </div>

                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Bart</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Whatever</button>
                                        </div>
                                    </div>
                                </div>
                        </div>


                        <!--<div class="col-6" style="background:#DED7D5; border-radius:10px; border-left: solid; border-left-color: grey">-->
                            <div class="col-6">
                                <div class="genderCol">
                                    <div class="row">
                                        <div class="col">
                                            <img class="genderSymbol" src="assets/femaleLachs.png">
                                        </div>
                                    </div>
                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Kurzhaar</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Langhaar</button>
                                        </div>
                                    </div>
                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Bart</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Whatever</button>
                                        </div>
                                    </div>
                                    
                                    <div class="frisur row">
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Bart</button>
                                        </div>
                                        <div class="col-6">
                                            <button md-raised-button (click)="navigateNext()">Whatever</button>
                                        </div>
                                    </div>

                                </div>
                        </div>

                    </div>
                </div>

            </md-card-content>

        </md-card>


    </div>