<div class="app-content">



        <!--<div class="row">
            <div class="col">
                <md-card >
                    <md-card-content>
                        Test
                    </md-card-content>
                </md-card>
            </div>
            <div class="col">
                <md-card>
                    <md-card-content>
                        Test
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <md-card>
                    <md-card-content>
                        Test
                    </md-card-content>
                </md-card>
            </div>
            <div class="col">
                <md-card>
                    <md-card-content>
                        Test
                    </md-card-content>
                </md-card>
            </div>
        </div>-->

        <div style="text-align: center; margin-top:5%">
        <span style="background:black; border-radius:5px; padding: 5px;">
            Wann möchtest du deinen Termin?
        </span>
        </div>

        <md-card>
            <md-card-content>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button md-raised-button (click)="navigateNext()">Last Minute</button>
                        </div>
                        <div class="col">
                            <button md-raised-button (click)="navigateNext()">Diese Woche</button>
                        </div>
                        <div class="col">
                            <button md-raised-button (click)="navigateNext()">Nächste Woche</button>
                        </div>
                        <div class="col">
                            <button md-raised-button (click)="navigateNext()">Früh buchen</button>
                        </div>
                    </div>

                </div>
            </md-card-content>
        </md-card>
</div>